<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrototipoMVCEmotionDecoder"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PrototipoMVCEmotionDecoder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.view.CreateAccount" />
        <activity android:name=".ui.view.ResetPasswordActivity" />
        <activity android:name=".ui.view.EmotionalScreening" />
        <activity android:name=".ui.view.ResultScreen" />
        <activity android:name=".ui.view.Login" />
        <activity android:name=".ui.controller.ResetPasswordController" />
        <activity android:name=".ui.controller.EmotionalScreeningController" />
        <activity android:name=".ui.controller.ResultScreenController" />

    </application>

</manifest>